extends layouts/main-layout.pug

<<<<<<< HEAD
block content 
=======
block styles
    link(rel="stylesheet", href="/css/product.css")
block content
>>>>>>> ccf25c403f97429491a1ed9b19f8079a49eedf34
    main
            if prods.length > 0
                div.grid
                    each product in prods 
                        article.card.product-item
                            header.card__header 
                                h1.product__title #{product.title}
                            div.card__image
                                img(src="https://edit.org/images/cat/book-covers-big-2019101610.jpg", alt="A Book")
                            div.card__content
                                h2.product__price $19.99
                                p.product__description A very interesting book about so many even more interesting things!
                            div.card__actions
                                button.btn Add to Cart 
            else
                h1 No Products Yet!